<div style="padding: 20px;">
    <h1 style="font-size: 24px; color: #333;">
        Halo, <%= username %>
    </h1>
    <p style="font-size: 16px; color: #333; line-height: 1.5;">
        Anda telah melakukan permintaan untuk mereset password Akun Anda. Untuk melanjutkan prosesnya,
        <a href="<%= verificationLink %>" style="color: #02507d;">
            silahkan mengikuti link ini.
        </a>
    </p>
    <p style="font-size: 16px; color: #333; line-height: 1.5;">
        Link di atas hanya berlaku selama 15 menit. Bila sudah melebihi waktu tersebut, Anda dapat mengirim permintaan baru.
    </p>
    <p style="font-size: 16px; color: #333; line-height: 1.5;">
        Bila Anda tidak pernah melakukan permintaan di atas, Anda dapat mengabaikan email ini.
    </p>
    <p style="font-size: 16px; color: #333; line-height: 1.5;">
        Terimakasih,
    </p>
    <p style="font-size: 16px; color: #333; line-height: 1.5;">
        <b>GMF Aeroasia</b>
    </p>
</div>