<div style="padding: 20px;">
    <h1 style="font-size: 24px; color: #333;">
        Halo, <%= username %>
    </h1>
    <p style="font-size: 16px; color: #333; line-height: 1.5;">
        Anda menerima email ini karena kami menerima permintaan verifikasi email untuk akun anda!
    </p>
    <p style="font-size: 16px; color: #333; line-height: 1.5;">
        Klik tombol di bawah untuk mengaktifkan akun dan menyelesaikan verifikasi alamat emailmu.
    </p>
    <p style="font-size: 16px; color: #333; line-height: 1.5;">
        <a href="<%= verificationLink %>" style="color: #02507d;">
            Link Verifikasi
        </a>
    </p>
    <p style="font-size: 16px; color: #333; line-height: 1.5;">
        <strong>
            Link verifikasi hanya berlaku selama 24 jam
        </strong>
    </p>
    <p style="font-size: 16px; color: #333; line-height: 1.5;">
        Bila Anda tidak pernah melakukan permintaan di atas, Anda dapat mengabaikan email ini.
    </p>
    <p style="font-size: 16px; color: #333; line-height: 1.5;">
        <strong>
            <strong>PS:</strong> 
            <br>
            *Pastikan anda mengakses link verifikasi dari browser yang sama dengan browser yang anda gunakan untuk mendaftar.
            <br>
            *Pastikan selalu gunakan link verifikasi yang terbaru yang dikirimkan ke email anda.
        </strong>
    </p>
    <p style="font-size: 16px; color: #333; line-height: 1.5;">
        Terimakasih,
    </p>
    <p style="font-size: 16px; color: #333; line-height: 1.5;">
        <b>GMF Aeroasia</b>
    </p>
</div>